# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Added by Candy
__pycache__/*
.DS_Store

#

.vscode/
*__pycache__*
*.pytest*